In [37]:
import numpy as np
import pandas as pd

In [38]:
def covar(data1, data2):
    x_mean = np.mean(data1)
    y_mean = np.mean(data2)
    i, s = 0, []
    for i in range(len(data1)):
        p = (data1[i]-x_mean)*(data2[i]-y_mean)
        s.append(p)
    return (sum(s)/len(data1))

In [47]:
def pcoeff(data):
    x = data[0]
    y = data[1]
    std_x = np.std(x)
    std_y = np.std(y)
    pcoeff_ =  covar(x, y)/(std_x*std_y)
    return np.round(pcoeff_, decimals=5)

In [48]:
def send_data(x, y, a):
    if(a == '1'):
        d1 = [float(i) for i in x]
        d2 = [float(i) for i in y]
        print(covar(d1, d2))
    elif(a == '2'):
        d1 = [float(i) for i in x]
        d2 = [float(i) for i in y]
        d = [d1, d2]
        print(pcoeff(d))

In [49]:
def col_to_check(a, b, c):
    if(c=='1'):
        for i in a:
            print("Covariance between {} and {} is: ".format(i, b))
            send_data(df[i], df[b], c)
    elif(c=='2'):
        for i in a:
            print("Pearson Coefficient between {} and {} is: ".format(i, b))
            send_data(df[i], df[b], c)

In [50]:
df = pd.read_csv('Example_data.csv')
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [51]:
col_to_check(['Duration','Heart_Rate','Body_Temp'], 'Calories', '1')

Covariance between Duration and Calories is:
496.396056946666
Covariance between Heart_Rate and Calories is:
537.3876339822232
Covariance between Body_Temp and Calories is:
40.1271870782222

In [52]:
col_to_check(['Duration','Heart_Rate','Body_Temp'], 'Calories', '2')

Pearson Coefficient between Duration and Calories is:
0.95542
Pearson Coefficient between Heart_Rate and Calories is:
0.89788
Pearson Coefficient between Body_Temp and Calories is:
0.82456

In [45]:
df.drop('User_ID', axis=1).cov()

,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
Age,288.329371,2.313059,23.001902,1.871257,1.705643,0.174322,163.741593
Height,2.313059,203.293804,205.472776,-0.548636,0.072151,0.013335,15.616820
Weight,23.001902,205.472776,226.070974,-0.235702,0.621222,0.047980,33.319164
Duration,1.871257,-0.548636,-0.235702,69.209144,67.995533,5.854845,496.429152
Heart_Rate,1.705643,0.072151,0.621222,67.995533,91.840179,5.761479,537.423462
Body_Temp,0.174322,0.013335,0.047980,5.854845,5.761479,0.607199,40.129862
Calories,163.741593,15.616820,33.319164,496.429152,537.423462,40.129862,3900.874095

In [53]:
df.drop('User_ID', axis=1).corr()

,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
Age,1.000000,0.009554,0.090094,0.013247,0.010482,0.013175,0.154395
Height,0.009554,1.000000,0.958451,-0.004625,0.000528,0.001200,0.017537
Weight,0.090094,0.958451,1.000000,-0.001884,0.004311,0.004095,0.035481
Duration,0.013247,-0.004625,-0.001884,1.000000,0.852869,0.903167,0.955421
Heart_Rate,0.010482,0.000528,0.004311,0.852869,1.000000,0.771529,0.897882
Body_Temp,0.013175,0.001200,0.004095,0.903167,0.771529,1.000000,0.824558
Calories,0.154395,0.017537,0.035481,0.955421,0.897882,0.824558,1.000000